:root {
  --p3-theme-color: #01d5ff;
  --p4-theme-color: #fbfa00;
  --p5-theme-color: #ff012c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.header {
  background-image: linear-gradient(135deg, var(--p3-theme-color) 0%, var(--p3-theme-color) 30%, var(--p4-theme-color) 30%, var(--p4-theme-color) 70%, var(--p5-theme-color) 70%, var(--p5-theme-color) 100%);
  /* color: white; */
  padding: 20px;
  text-align: center;
}

.header h1 span {
  display: inline-block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px;
}


.start__lead {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.start__button {
  margin-top: 40px;
  text-align: center;
}

.question {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.answer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.result {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.description {
  margin-top: 40px;
}

.retry {
  margin-top: 40px;
  text-align: center;
}

.data-viewer {
  margin-top: 60px;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.data-viewer pre {
  overflow: auto;
}