* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .wrapper {
  min-height: 100vh;
  overflow: hidden;
} */

.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.header h1 span {
  display: inline-block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px;
}

.question {
  border: 1px solid #ccc;
  padding: 20px;
}

.answer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.result {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.description {
  margin-top: 40px;
}

.retry {
  margin-top: 40px;
  text-align: center;
}

.data-viewer {
  margin-top: 60px;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.data-viewer pre {
  overflow: auto;
}